*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* styling navbar */
.navbar{
    background-color: #4C4C6D;
    padding: 2%;
    
}

.menu{
    margin-right: 10%;
    text-decoration: none;
    
    
}

#home{
    margin: 40px;
    text-decoration: none;
    color: white;

}
#home:hover{
    color: #1B9C85;  
}

#about{
    margin: 40px;
    text-decoration: none;
    color: white;
}
#about:hover{
    color: #1B9C85;  
}

#contact{
    margin: 40px;
    text-decoration: none;
    color: white;
}
#contact:hover{
    color: #1B9C85;  
}



/* ====================================== */
/* styling page 1 */
.content{
    background-color: #4C4C6D;
    padding: 12%;
    background-image: url(bg1.png);
    background-size: 70%;
    
}


.teks{
    color: white;
    
}

.btn{
    background-color: #1B9C85;
    border-radius: 10px;
    color: azure;
    padding-left: 30px;
    padding-right: 30px;
    
}
.btn:hover{
    background-color: #0F6657;

}


#tt{
    color: #FFE194;
}

.icn{
    display: flex;
    justify-content: space-between;
    width: 380px;
    float: right;
}